//card
.card-group{
  margin-top: -50px;
  .card{
    @include defCard;
  }
  .card:nth-child(1){
    border-top:3px solid var(--Facebook) ;
    .card-text{
      color: var(--LimeGreen);
    }
  }
  .card:nth-child(2){
    border-top:3px solid var(--Twitter);
    .card-text{
      color: var(--LimeGreen);
    }
  }
  .card:nth-child(3){
    border-top:3px solid var(--instagram);
    .card-text{
      color: var(--LimeGreen);
    }
      // color: linear-gradient(90deg,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
  }
  .card:nth-child(4){
    border-top:3px solid var(--YouTube);
    
    .card-text{
      color: var(--BrightRed);
    }
  }
}

.second_card{
  margin-top: 0px;
  .card{
    border-top-color: transparent !important;
  }
  .title{
    @include title;
    font-size: 2em;
    margin-bottom: 1.2em;
  }
  .col-12:nth-child(1){
    .card-subtitle{
      margin: auto 0;
      font-size: 1.1em;
    }
  }
  .col-12:nth-child(2){
    margin-bottom: -15px;
    .card-title{
      font-size: 2.8em;
    }
    p:nth-child(2){
      margin-top: auto;
      img{
        margin-right: 3px;
      }
    }
  }
}

.second_card{
  .col-12:nth-child(1){
    .card{
      .col-12{
        p:nth-child(2){
          color: var(--LimeGreen);
        }
      }
    }
  }

  .col-12:nth-child(2){
    .card{
      .col-12{
        p:nth-child(2){
          color: var(--BrightRed);
        }
      }
    }
  }

  .col-12:nth-child(3){
    .card{
      margin-top: 40px;
      .col-12{
        p:nth-child(2){
          color: var(--LimeGreen);
        }
      }
    }
    @include media-breakpoint-up(lg){
      .card{
        margin-top: 24px;
      }
    }
  }
  .col-12:nth-child(4){
    .card{
      .col-12{
        p:nth-child(2){
          color: var(--LimeGreen);
        }
      }
    }
  }
  .col-12:nth-child(5){
    .card{
      .col-12{
        p:nth-child(2){
          color: var(--LimeGreen);
        }
      }
    }
  }
  .col-12:nth-child(6){
    .card{
      .col-12{
        p:nth-child(2){
          color: var(--LimeGreen);
        }
      }
    }
  }
  .col-12:nth-child(7){
    .card{
      .col-12{
        p:nth-child(2){
          color: var(--BrightRed);
        }
      }
    }
  }
  .col-12:nth-child(8){
    .card{
      .col-12{
        p:nth-child(2){
          color: var(--BrightRed);
        }
      }
    }
  }
}