//mixins
@mixin title{
  font-family: 'Inter', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
}
@mixin sm_title{
  color:var(--DesaturatedBlueText);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
}
@mixin defCard{
  background-color: var(--DarkDesaturatedBlueCardBG);
  border-radius: 0.4em;
  margin-top: 25px;
  font-family:'Inter', sans-serif;
  &-body{
    text-align: center;
    padding: 2.2em;
  }
  &-subtitle{
    @include sm_title;
    font-size: 0.8em;
    &-img{
      margin-top: -3px;
    }
  }
  &-title{
    margin-top: 0.3em;
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 0;
  }
  &-follo{
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 4px;
  }
  &-text{
    margin-top: 1.4em;
    font-weight: 700;
    img{
      margin-right: 1px;
    }
  }
}