:root {
  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --instagram:hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);
  --Toggle: hsl(230, 22%, 74%);
  --VeryDarkBlueBG: hsl(230, 17%, 14%);
  --VeryDarkBlueTopBGPattern: hsl(232, 19%, 15%);
  --DarkDesaturatedBlueCardBG: hsl(228, 28%, 20%);
  --DesaturatedBlueText: hsl(228, 34%, 66%);
  --WhiteText: hsl(0, 0%, 100%);
  --WhiteBG: hsl(0, 0%, 100%);
  --VeryPaleBlueTopBGPattern: hsl(225, 100%, 98%);
  --LightGrayishBlueCardBG: hsl(227, 47%, 96%);
  --DarkGrayishBlueText: hsl(228, 12%, 44%);
  --VeryDarkBlueText: hsl(230, 17%, 14%);
  --beginLinearGradient: hsl(210, 78%, 56%);
  --endLinearGradient: hsl(146, 68%, 55%);
  font-size: 14px;
  font-family: 'Inter', sans-serif !important;
}

.header {
  background-color: var(--VeryDarkBlueTopBGPattern);
}

.header_wr_col_h1 {
  font-family: 'Inter', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
}

.header_wr_col_p {
  color: var(--DesaturatedBlueText);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.7em;
}

.header hr {
  height: 0.1px;
  background-color: var(--DesaturatedBlueText);
}

.header .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .switch_label {
  color: var(--DesaturatedBlueText);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  margin-right: 10px;
}

.header .switch_form {
  background: -webkit-gradient(linear, left top, right top, from(var(--beginLinearGradient)), to(var(--endLinearGradient)));
  background: linear-gradient(90deg, var(--beginLinearGradient), var(--endLinearGradient));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border: none;
  border-radius: 20px;
  height: 1.7em;
  width: 3.5em;
  margin-top: 0;
  margin-right: 0;
  padding: 2px;
}

.header .switch_form_circle {
  background-color: var(--VeryDarkBlueBG);
  height: 100%;
  width: 20px;
  border-radius: 20px;
}

.card-group {
  margin-top: -50px;
}

.card-group .card {
  background-color: var(--DarkDesaturatedBlueCardBG);
  border-radius: 0.4em;
  margin-top: 25px;
  font-family: 'Inter', sans-serif;
}

.card-group .card-body {
  text-align: center;
  padding: 2.2em;
}

.card-group .card-subtitle {
  color: var(--DesaturatedBlueText);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.card-group .card-subtitle-img {
  margin-top: -3px;
}

.card-group .card-title {
  margin-top: 0.3em;
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0;
}

.card-group .card-follo {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 4px;
}

.card-group .card-text {
  margin-top: 1.4em;
  font-weight: 700;
}

.card-group .card-text img {
  margin-right: 1px;
}

.card-group .card:nth-child(1) {
  border-top: 3px solid var(--Facebook);
}

.card-group .card:nth-child(1) .card-text {
  color: var(--LimeGreen);
}

.card-group .card:nth-child(2) {
  border-top: 3px solid var(--Twitter);
}

.card-group .card:nth-child(2) .card-text {
  color: var(--LimeGreen);
}

.card-group .card:nth-child(3) {
  border-top: 3px solid var(--instagram);
}

.card-group .card:nth-child(3) .card-text {
  color: var(--LimeGreen);
}

.card-group .card:nth-child(4) {
  border-top: 3px solid var(--YouTube);
}

.card-group .card:nth-child(4) .card-text {
  color: var(--BrightRed);
}

.second_card {
  margin-top: 0px;
}

.second_card .card {
  border-top-color: transparent !important;
}

.second_card .title {
  font-family: 'Inter', sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1.2em;
}

.second_card .col-12:nth-child(1) .card-subtitle {
  margin: auto 0;
  font-size: 1.1em;
}

.second_card .col-12:nth-child(2) {
  margin-bottom: -15px;
}

.second_card .col-12:nth-child(2) .card-title {
  font-size: 2.8em;
}

.second_card .col-12:nth-child(2) p:nth-child(2) {
  margin-top: auto;
}

.second_card .col-12:nth-child(2) p:nth-child(2) img {
  margin-right: 3px;
}

.second_card .col-12:nth-child(1) .card .col-12 p:nth-child(2) {
  color: var(--LimeGreen);
}

.second_card .col-12:nth-child(2) .card .col-12 p:nth-child(2) {
  color: var(--BrightRed);
}

.second_card .col-12:nth-child(3) .card {
  margin-top: 40px;
}

.second_card .col-12:nth-child(3) .card .col-12 p:nth-child(2) {
  color: var(--LimeGreen);
}

@media (min-width: 992px) {
  .second_card .col-12:nth-child(3) .card {
    margin-top: 24px;
  }
}

.second_card .col-12:nth-child(4) .card .col-12 p:nth-child(2) {
  color: var(--LimeGreen);
}

.second_card .col-12:nth-child(5) .card .col-12 p:nth-child(2) {
  color: var(--LimeGreen);
}

.second_card .col-12:nth-child(6) .card .col-12 p:nth-child(2) {
  color: var(--LimeGreen);
}

.second_card .col-12:nth-child(7) .card .col-12 p:nth-child(2) {
  color: var(--BrightRed);
}

.second_card .col-12:nth-child(8) .card .col-12 p:nth-child(2) {
  color: var(--BrightRed);
}

body {
  background-color: var(--VeryDarkBlueBG);
  color: var(--WhiteText);
}

.wr {
  padding: 1.8em;
}

.ishidden {
  display: none;
}

.second-title {
  font-size: 2em;
  margin-left: -0.5em;
  margin-bottom: -50px;
}

@media (min-width: 992px) {
  .title {
    font-size: 2.5em;
  }
  :root {
    font-size: 16px;
  }
  header {
    margin-top: 3em;
  }
  .wr {
    padding: 1.8em 6em;
  }
}
/*# sourceMappingURL=socialStyle.css.map */