:root {
  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --instagram: hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);
  --Toggle: hsl(230, 22%, 74%);
  --VeryDarkBlueBG: hsl(230, 17%, 14%);
  --VeryDarkBlueTopBGPattern: hsl(232, 19%, 15%);
  --DarkDesaturatedBlueCardBG: hsl(228, 28%, 20%);
  --DesaturatedBlueText: hsl(228, 34%, 66%);
  --WhiteText: hsl(0, 0%, 100%);
  --WhiteBG: hsl(0, 0%, 100%);
  --VeryPaleBlueTopBGPattern: hsl(225, 100%, 98%);
  --LightGrayishBlueCardBG: hsl(227, 47%, 96%);
  --DarkGrayishBlueText: hsl(228, 12%, 44%);
  --VeryDarkBlueText: hsl(230, 17%, 14%);
  --beginLinearGradient: hsl(210, 78%, 56%);
  --endLinearGradient: hsl(146, 68%, 55%);
  font-size: 14px;
  font-family: "Inter", sans-serif !important;
}

body {
  background-color: var(--VeryDarkBlueBG);
  color: var(--WhiteText);
}

.header {
  background-color: var(--VeryDarkBlueTopBGPattern);
  margin-top: 0;
}

.header_wr_col_h1 {
  font-family: "Inter", sans-serif;
  font-size: 1.7em;
  font-weight: 700;
}

.header_wr_col_p {
  color: var(--DesaturatedBlueText);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.7em;
}

.header hr {
  height: 0.1px;
  background-color: var(--DesaturatedBlueText);
}

.header .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .switch_label {
  color: var(--DesaturatedBlueText);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  margin-right: 10px;
}

.header .switch_form {
  background: -webkit-gradient(linear, left top, right top, from(var(--beginLinearGradient)), to(var(--endLinearGradient)));
  background: linear-gradient(90deg, var(--beginLinearGradient), var(--endLinearGradient));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0 2px;
  border: none;
  border-radius: 20px;
  height: 1.7em;
  max-height: 25px;
  width: 3.5em;
  max-width: 50px;
  margin-top: 0;
  margin-right: 0;
}

.header .switch_form_circle {
  background-color: var(--VeryDarkBlueBG);
  height: 90%;
  width: 20px;
  border-radius: 20px;
  z-index: 10;
}

.header_row {
  padding: 1.8em;
}

.first_cards {
  padding: 1.8em;
}

.card {
  background-color: var(--DarkDesaturatedBlueCardBG);
  border-radius: 0.4em;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}

.card-body {
  text-align: center;
  padding: 2.2em;
}

.card-subtitle {
  color: var(--DesaturatedBlueText);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.card-subtitle-img {
  margin-top: -3px;
}

.card-title {
  margin-top: 0.3em;
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0;
}

.card-follo {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 4px;
}

.card-text {
  margin-top: 1.4em;
  font-weight: 700;
}

.card-text img {
  margin-right: 1px;
}

.card_conten:nth-child(1) .card {
  border-top: 3px solid var(--Facebook);
}

.card_conten:nth-child(1) .card .card-text {
  color: var(--LimeGreen);
}

.card_conten:nth-child(2) .card {
  border-top: 3px solid var(--Twitter);
}

.card_conten:nth-child(2) .card .card-text {
  color: var(--LimeGreen);
}

.card_conten:nth-child(3) .card {
  border-top: 3px solid var(--instagram);
}

.card_conten:nth-child(3) .card .card-text {
  color: var(--LimeGreen);
}

.card_conten:nth-child(4) .card {
  border-top: 3px solid var(--YouTube);
}

.card_conten:nth-child(4) .card .card-text {
  color: var(--BrightRed);
}

.Second_cards {
  padding: 1.8em;
  text-align: left;
}

.second_title {
  font-family: "Inter", sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  text-align: left;
  font-size: 1.8em;
}

.sm-card {
  border-top: none !important;
}

.sm-card .card-body {
  padding: 1.5em;
}

.sm-card .card-body .card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sm-card .card-body .card_info p {
  margin: auto 0;
  color: var(--DesaturatedBlueText);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
}

.sm-card .card-body .card_info img {
  height: 25px;
  width: 25px;
}

.sm-card .card-body .card_data {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sm-card .card-body .card_data_title {
  font-family: "Inter", sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 0;
}

.sm-card .card-body .card_data_img {
  margin: auto 0;
}

.sm-card .card-body .card_data_img img {
  margin-right: 3px;
}

@media (min-width: 576px) {
  .card_conten:nth-child(1) .card, .card_conten:nth-child(3) .card {
    margin-right: 10px;
  }
  .card_conten2:nth-child(1) .card, .card_conten2:nth-child(3) .card, .card_conten2:nth-child(5) .card, .card_conten2:nth-child(7) .card {
    margin-right: 10px;
  }
  .cards_container {
    padding: 0 1em;
  }
}

@media (min-width: 768px) {
  .card_conten2:nth-child(2) .card, .card_conten2:nth-child(4) .card, .card_conten2:nth-child(8) .card {
    margin-right: 10px;
  }
  .card_conten2:nth-child(3) .sm-card {
    margin-right: -2px;
  }
}

@media (min-width: 992px) {
  .card_conten2:nth-child(3) .card, .card_conten2:nth-child(6) .card {
    margin-right: 10px;
  }
  .col:nth-child(2) .card {
    margin-right: 10px;
  }
  .title {
    font-size: 2.6em;
  }
  .wr {
    padding: 1.8em 6em 0em 6em;
  }
}
/*# sourceMappingURL=socialStyle.css.map */